@import '../../../scss/variables.scss';
@import '../../../scss/mixins/reset.scss';
@import '../../../scss/mixins/utils.scss';
@import '../../../scss/mixins/text.scss';

.button {
  @include reset-button();
  @include focus();
  position: relative;

  &:disabled {
    background-color:$block-background;
    opacity: 0.5;
    pointer-events: none;
  }

 

  &:hover {
    background-color: $hover-form;
  }
}

.icon {
  @include vertical-center();
  left: 0;
}

.icon_button {
  padding-left: 35px;
}

.custom{
  background-color: $block-background;
  border-radius: 10px;
  max-width: 100px;
  padding: 15px;
  width: 100%;
}

.pagination_pn{
  background: none;
  border: 1px solid $basic-white;
 

}

.pagination{
  background: none;
  border: 1px solid $basic-white;
  padding: 7px; 
}

.unfilled{
  background-color: none;
  border: 1px solid $block-background;
  padding: 10px;

  &:hover {
    background-color: $block-background;
  }
}

.outline{
  background-color: $black-background;
  padding: 10px;
}

.filled{
  background-color: $active-form;
  border-radius: 15px;
  height: 100%;
  max-height: fit-content;
  max-width: fit-content;
  width: 100%;

  &:hover {
    background-color: $block-background;
  }
}

.active{
  background-color: $active-form;
}

.label {
  @include textRegular-14();

}
