@import '../../../scss/variables.scss';
@import '../../../scss/mixins/reset.scss';
@import '../../../scss/mixins/utils.scss';
@import '../../../scss/mixins/text.scss';

.button {
  @include reset-button();
  @include focus();
  position: relative;

  &:disabled {
    background-color:$block-background;
    pointer-events: none;
  }

 

  &:hover {
    background-color: $hover-form;
  }
}

.icon {
  @include vertical-center();
  left: 0;
}

.icon_button {
  padding-left: 35px;
}

.custom{
  background-color: $block-background;
  border-radius: 10px;
  padding: 15px;
}

.pagination_pn{
  background: none;
  border: 1px solid $basic-white; 
  padding: 4px;
}

.pagination{
  background: none;
  border: 1px solid $basic-white; 
  padding: 4px
}

.active{
  background-color: red;
}

.label {
  @include textRegular-14();

}
