@import '../../../scss/variables.scss';
@import '../../../scss/mixins/reset.scss';
@import '../../../scss/mixins/utils.scss';
@import '../../../scss/mixins/text.scss';

.input {
  @include reset-input();
  @include focus();
  @include textRegular-16();
  background-color: rgb(67, 66, 66);
  color: rgb(255, 255, 255);

  &:disabled {
    pointer-events: none;
  }

  &:focus {
    background-color: $hover-form;
  }

  &:hover {
    background-color: $hover-form;
  }

  // &::placeholder {
  // }
}

.icon {
  @include vertical-center();
  left: 15px;
}

.custom{
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}