.movie_box{ 
    height: 100vh; 
    left: 0;
    position: relative; 
    top: 0;
    width: 100%; 
    z-index: -1;

    .image{ 
    filter: blur(8px); 
    left: 0;
    object-fit: cover; 
    opacity: 0.5; 
    position: fixed; 
    top: 0; 
    width: 100%
    }
}