// COLORS

$basic-white: #ffffff;
$basic-black: #000000;
$black-theme: #111111;
$block-background: #868686;
$second-black: #171717;
$hover-form: #232323;

// FOLDER COLORS

$danger: #ff4d4f;
$sucsess: #52c41a;
$aqua: #40a9ff;
$sunrise: #fadb14;

// FONTS

$font-family-roboto: 'Roboto', monospace;

// FONT WEIGHTS

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// SHADOWS

$basic-box-shadow: 0 0 0 1px transparent,
  0 0 0 2px #223c50;

//  BORDER
